extends layout

block layout-content
    .column
        nav.navbar(role="navigation" aria-label="main navigation")
            .navbar-brand
                a.navbar-item(href='/' style='font-weight: bold; font-size: large') STRKS
                a.navbar-burger(role="button" aria-label="menu" aria-expanded="false" data-target="navMenu")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
                    span(aria-hidden="true")
            .navbar-menu(id="navMenu")
                .navbar-start
                    a.navbar-item(href='/rewards') rewards
                    a.navbar-item(href='/about') about 
                .navbar-end
                    .navbar-item
                        if (authenticated)
                            a.button.is-dark.is-small(href='/logout') log-out
                        else
                            a.button.is-dark.is-small(href='/login') log-in
    section.hero.is-light(style="margin-top: 9em")
        .hero-body
            .container
                h1.title About STRKS
                p Take charge of your daily habits. Become the person you've always wanted to be.
                br
                p
                    | STRKS is based on the idea that you are an accumulation of your daily habits.
                    | Whether your goal is to pursue a certain career, become a reader, have a regular sleep cycle, or learn to play an instrument, 
                    | good daily habits are what will eventually get you there.
                    | STRKS allows you to organize your desired habits while providing an instinctive way to enforce them: streaks.
                    | Having a target activity (ex. reading a book for 20 minutes) tied to a daily streak count,
                    | which resets to zero if you fail to complete it before the end of day, is sure to help you get through it.
                    | Furthermore, seeing your streak count increase every day gives you a visible, basic yet concrete sense of accomplishment. 
                    | You can also set personal rewards for reaching streak milestones for even more motivation and "game-ification".
                    | Why not treat yourself to an e-Reader after 30 days straight of daily reading?
                br 
                p So go ahead. Take advantage of the streak mentality and start building powerful daily habits!
    script.
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
                });
            }

        });