extends layout

block layout-content
    header
        nav
            a(href='/') STRKS
            ul
                li 
                    a(href='/user') log-in
                li
                    a(href='/rewards') rewards