extends layout

block layout-content
    header
        nav
            a(href='/') STRKS
            ul
                li
                    a(href='/rewards') REWARDS
                li
                    a(href='/about') ABOUT
                li 
                    a(href='/login') LOG-IN
    h2 Welcome to STRKS