extends layout

block layout-content
    header
        nav
            a(href='/') STRKS
            ul
                li
                    a(href='/') log-out
                li 
                    a(href='/rewards') rewards
    
    form(method="POST", action="/user")
        .form-group
            label Name:
            input(type="text" name="name" placeholder="New Target")
        .form-group
            label Description:
            input(type="text" name="description" placeholder="Description")
        br
        input(type="submit", value="Register your new target")
    ul
        for target in targets
            li=target.name
        else 
            li No targets yet! Try adding some :)
