extends layout

block layout-content
    .column.is-full
        nav.navbar(role="navigation" aria-label="main navigation")
            .container
                .navbar-brand
                    a.navbar-item.title(href='/') STRKS
                .navbar-menu
                    .navbar-start
                        a.navbar-item(href='/rewards') REWARDS
                        a.navbar-item(href='/about') ABOUT 
                    .navbar-end
                        a.button.is-dark(href='/logout') LOG-OUT
    .column.is-one-third.is-offset-one-third
        form(class="newTargetForm-js")
            .field
                .control
                    input.input.is-small.is-primary(type="text" id="targetName" placeholder="new target")
            .field
                .control
                    input.input.is-small.is-info(type="text" id="targetDescription" placeholder="describe your target")
            .container(style="width:50%")
                input.button.is-small.is-rounded.is-light(type="submit" value="Register your new target")
    
    section.hero.is-dark.is-fullheight
        .hero-body
            .container
                h1.title Your Targets:
                h2.subtitle Keep the streaks going!
            .container
                ul(class="targetList-js")

    script(src="/javascripts/user.js")