extends layout

block layout-content
    header
        nav
            a(href='/') STRKS
            ul
                li
                    a(href='/rewards') REWARDS
                li
                    a(href='/about') ABOUT
                li 
                    a(href='/logout') LOG-OUT
    
    form(class="newTargetForm-js")
        .form-group
            input(type="text" id="targetName" placeholder="new target")
        .form-group
            input(type="text" id="targetDescription" placeholder="describe your target")
        br
        input(type="submit" value="Register your new target")
    
    h3 Your Targets:
    
    ul(class="targetList-js")

    script(src="/javascripts/user.js")